PORT=4412
POLL_SECONDS=15
SOKOSUMI_API_URL=https://api.preprod.sokosumi.com/v1
SOKOSUMI_COWORKER_ID=
SOKOSUMI_COWORKER_API_KEY=
SOKOSUMI_PERSONAL=true
MPS_URL=http://127.0.0.1:3012/api/v1
MPS_API_TOKEN=
MPS_AGENT_IDENTIFIER=
MPS_PAYMENT_SOURCE_TYPE=Web3CardanoV2
MPS_PAYMENT_SOURCE_INDEX=0
MPS_TASK_AMOUNT=1000000
MPS_TASK_UNIT=
ENABLE_MPS_PAYMENTS=false
OPENROUTER_API_KEY=
